alembic
autoflake
autopep8
bandit
bcrypt
black
cfn-lint
fastapi
flake8
fpdf
httpx
isort
jwt
langchain_community
langchain_openai
langchain_pinecone
openai
pydantic[email]
pymysql
pytest
pytest-cov
pytest-html
pytest_asyncio
python-multipart
pyupgrade
sqlmodel
